* {
    font-family: Verdana, Tahoma, sans-serif;
    color: #c6d2db;
}

.bigtitle {
    background-color: unset;
    text-align: center;
}

.bigtitle h1 {
    font-weight: bold;
    font-size: 300%;
    vertical-align: top;
}

.bigtitle h3 {
    font-weight: 200;
    vertical-align: bottom;
}

.smalltitle {
    text-align: left;
    font-weight: 600;
}

body {
    background-image: url("static/background.webp"), url("static/background-fallback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2a2f33;
}

a {
    text-decoration: solid underline;
}

nav {
    width: fit-content;
    box-shadow: 5px -5px inset rgba(202, 216, 227, 0.5);
    padding: 3px 12px;
    border-radius: 4px;
    background-color: rgba(24, 26, 28, 0.5);
}

ul {
    list-style: none;
}
