<!DOCTYPE html>

<head>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href="../static/logo.svg">
    <script src="https://kit.fontawesome.com/89bb5113a2.js" crossorigin="anonymous"></script>
    <title>{title}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Development blog of Savchenko Dmitriy, also known online as agvantibo. Here I post updates, configs, rices, scripts and utilities that people might find useful AND I consider post-worthy.">
    <meta name="keywords" content="Code, Blog, Devlog, Posting, Linux, FOSS, OSS, python, python3, pentesting, administration, utilities">
    <meta name="author" content="Savchenko Dmitriy">
</head>